/* cores */
.cp1 {
  background-color: #000000;
}
.cp0{
  color: var(--cp1);
}
.cp2-bg {
  background-color: #111111;
}
.cb1-bg{
background: var(--cb1);
}
.cp2 {
  color: #111111;
}
.cp4 {
  color: var(--cp4);
}
.cp5 {
  color: var(--cp5);
}
.cb5{
  color: var(--cb5);
}
.cb6 {
  color: #717171;
}
.cb4 {
  color: #dedede;
}
.cb1 {
  color: #ffffff;
}
.cb1-bg{
  background: var(--cb1);
}
.cb3 {
  color: #ededed;
}
.cb2{
  color: var(--cb2);
}
.cor-p1 {
  color: #e7ae22;
}
