.politica-conteudo {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 70px;
}
.politica-conteudo h2 {
  padding: 20px 0px;
  font-weight: 600;
}
.politica-conteudo p {
  padding: 10px 0;
  max-width: 70ch;
}
@media (max-width: 600px) {
  .politica-conteudo {
    padding-top: 30px;
    padding-bottom: 35px;
  }
  .politica-conteudo h2 {
    padding: 13px 0px;
  }
  .politica-conteudo p {
    padding: 7px 0;
  }
}
