.header-bg {
  background: var(--cp1);
  padding: 40px;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu ul {
  display: flex;
}
.header-bg li {
  display: inline-block;
  margin: 15px 20px;
}
.header-menu a {
  color: var(--cb1);
  font-size: 1.125rem;
  line-height: 1.3;
  text-transform: capitalize;
}
.header-menu li::after {
  content: "";
  display: block;
  max-width: 0%;
  height: 2px;
  background: var(--cb1);
  margin-top: 5px;
  transition: 0.3s;
}
.header-menu li:hover::after {
  max-width: 100%;
}
@media (max-width: 1000px) {
  .header-bg li::after {
    display: none;
  }
  .header-bg li {
    background-color: var(--cp2);
    padding: 9px 15px;
    margin: 10px;
    border-radius: 4px;
  }
  .header-bg a {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  .header-bg a {
    font-size: 0.852rem;
  }
  .header-bg li {
    padding: 7px 12px;
  }
}
@media (max-width: 600px) {
  .header {
    display: initial;
  }
  .header-menu ul {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
  .header-bg {
    padding: 10px;
  }
  .header-menu li {
    justify-self: center;
    justify-content: start;
  }
}
