.contatos-bg {
  padding: 0 20px;
}
#contatos .contato-usuario input,
.contato-usuario textarea {
  font-weight: 400;
  font-family: "roboto";
  font-size: 1rem;
}
.contatos-formulario {
  display: grid;
  grid-template-columns: 1.4fr 2fr;
  border: 4px;
  padding: 0px;
}
.contatos-loja {
  padding: 52px;
  border-radius: 4px 0px 0px 4px;
}
.grid-col {
  grid-column: span 2;
}
.contato-usuario {
  padding: 52px;
  border-radius: 0px 4px 4px 0px;
}
.contatos-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contatos-form input[type="text"],
.contatos-form input[type="email"],
.contatos-form input[type="number"],
.contato-usuario textarea {
  padding: 12px;
  border: 1px solid var(--cb4);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background: var(--cb2);
}
.contatos-form div {
  margin: 0 10px;
}
.contatos-form input[type="text"]:focus,
.contatos-form input[type="email"]:focus,
.contatos-form input[type="number"]:focus,
.contato-usuario textarea:focus {
  outline: none;
  border-color: var(--cor-p1);
  background: var(--cb1);
  box-shadow: 0 0 0 2px #fea;
}
.contato-usuario label {
  padding: 10px 0;
  display: block;
}
.contatos-form button {
  margin-left: 10px;
}
@media (max-width: 800px) {
  .contatos-formulario {
    grid-template-columns: 1fr;
  }
  .contato-usuario {
    background: var(--cb1);
  }
  .contato-usuario {
    border-radius: 4px;
  }
}
@media (max-width: 600px) {
  .contato-usuario {
    border-radius: 4px;
  }
  .contatos-loja {
    padding: 12px;
    margin: 20px 0;
  }
  .contatos-form {
    display: flex;
    flex-direction: column;
  }
}
