.rodape-bg {
  background: var(--cp1);
  padding: 60px 0;
}
.rodape-conteudo {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr;
}
.rodape-contato h3 {
  margin-bottom: 20px;
}
.rodape-contato li {
  padding: 10px 0;
}
.rodape-informacao h3 {
  margin-bottom: 20px;
}
.rodape-contato li:nth-child(2n) {
  border-bottom: 2px solid var(--cp2);
  max-width: 70%;
  margin: 10px 0;
}
.rodape-contato a {
  color: var(--cb6);
  text-transform: capitalize;
}
.rodape-contato img {
  margin-right: 20px;
  margin-top: 20px;
}
.rodape-informacao li {
  padding: 10px 0;
}
.rodape-informacao a {
  color: var(--cb6);
  text-transform: capitalize;
}
.rodape-informacao a:hover {
  color: var(--cb1);
}
.rodape-conteudo p {
  grid-column: 1/-1;
  margin-top: 40px;
}
@media (max-width: 800px) {
  .footer-img {
    display: none;
  }
  .rodape-conteudo {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 600px) {
  .rodape-bg{
    padding: 40px 0;
  }
  .rodape-conteudo {
    grid-template-columns: 1fr;
  }
  .rodape-informacao{
    margin-top: 60px;
  }
}
